/*
This stylesheet is loaded in the WordPress dashboard only.
It is required for adding icons to your admin settings.
*/

/* Integration Tab Icon */
.bp-admin-card.section-engagifii_settings_section h2:before {
	background-image: url('images/feather.svg');
	background-size: 18px 18px;
}

/* Component Settings Icon */
.bp-admin-card.section-engagifii_addon h2:before {
	background-image: url('images/feather.svg');
	background-size: 18px 18px;
}
.env-loading {
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	margin: 0 10px 0 10px;
}
.env-loading-msg {
	font-weight: bold;
	font-style: italic;
}
.env-loading-msg.success {
	color: green;
}
.env-loading-msg.error {
	color: red;
} 
.field-choose > ul {
width: 45%;	
max-height: 250px;
overflow-y:auto
}
#sortable1, #sortable2 {
	border: 1px solid #b7b7b7;
	min-height: 20px;
	list-style-type: none;
	margin: 10px 0;
	padding: 5px 0 0 0;
	margin-right: 10px;
	display: inline-block;
	vertical-align: top;
	background: #f0f0f0;
}
  #sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
  }
 #sortable1 li {  
  cursor: move; 
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}  
.cron-logs {
border: 1px solid #ccc;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
max-height: 200px;
overflow-y:auto;	
padding: 10px;
}
.activity-modal {
float: right;
display:flex;
align-items:center;
column-gap:10px;
margin-right: 10px;
}
.activity-modal .button, a.button.reset_filter {
	display: inline-flex;
	align-items: center;
	column-gap: 5px;
}
.activity-pagination .page-numbers {
	border: 1px solid #bababa;
	padding: 4px 10px;
	border-radius: 4px;
}
.activity-pagination a.page-numbers {
text-decoration:none;
background: white;	
}